<div class="card  " id="order_details" data-hook>
  <div class="card-header">
    <h3 class="card-title">
      <%= t('spree.confirm') %>
   </h3>
  </div>
  <div class="card-body">
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <% Spree::Frontend::Config[:require_terms_and_conditions_acceptance].tap do |requires_acceptance| %>
    <% if requires_acceptance %>
      <div class="terms_and_conditions" data-hook="terms_and_conditions">
        <div class="policy"><%= render partial: "spree/checkout/terms_and_conditions" %></div>
        <%= check_box_tag :accept_terms_and_conditions, 'accepted', false %>
        <%= label_tag :accept_terms_and_conditions, t('spree.agree_to_terms_of_service') %>
      </div>
    <% end %>

    <%= submit_tag t('spree.place_order'),
      disabled: requires_acceptance,
      class: "continue button primary #{ 'disabled' if requires_acceptance }" %>
  <% end %>

  <script>Spree.disableSaveOnClick();</script>
</div>
