<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Promotion), spree.admin_promotions_path) %>
<% admin_breadcrumb(@promotion.name) %>

<%= form_for @promotion, url: object_url, method: :put do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <% if can?(:update, @promotion) %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  <% end %>
<% end %>

<div id="promotion-filters" class="row">
  <div id="rules_container" class="col-6">
    <%= render partial: 'rules' %>
  </div>

  <div id="actions_container" class="col-6">
    <%= render partial: 'actions' %>
  </div>
</div>
