<table>
  <tr>
    <td>
      <p class="lede">
        <%= t('spree.shipment_mailer.shipped_email.dear_customer') %>
      </p>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.instructions', number: @shipment.order.number) %>
      </p>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.shipment_summary') %>
      </p>
      <table>
        <% @manifest.each do |item| %>
          <tr>
            <td><%= item.variant.sku %></td>
            <td><%= item.variant.product.name %></td>
            <td><%= item.variant.options_text %></td>
          </tr>
        <% end %>
      </table>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.shipping_method', shipping_method: @shipment.shipping_method.name) %>
      </p>
      <% if @shipment.tracking %>
        <p>
          <%= t('spree.shipment_mailer.shipped_email.track_information', tracking: @shipment.tracking) %>
        </p>
      <% end %>
      <% if @shipment.tracking_url %>
        <p>
          <%= t('spree.shipment_mailer.shipped_email.track_link', url: link_to(@shipment.tracking_url, @shipment.tracking_url)).html_safe %>
        </p>
      <% end %>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
