<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
<div id="product_<%= product.id %>" class="d-flex w-100 col-12 col-lg-4 col-sm-6 col-xl-3 product-list-item mb-4" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <div class="card w-100">
    <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
      <div class="card-body text-center product-body">
        <%= link_to url, itemprop: "url", class: 'd-block text-center' do %>
          <%= render('spree/shared/image', image: product.gallery.images.first, itemprop: "image", class: "small_image d-block mx-auto") %>
          <%= content_tag(:span, truncate(product.name, length: 50), class: 'info mt-3 d-block', itemprop: "name", title: product.name) %>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
          <% if price = product.price_for(current_pricing_options) %>
            <span class="price selling" itemprop="price" content="<%= price.to_d %>">
              <%= price.to_html %>
            </span>
          <% end %>
          <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
        </span>
      </div>
    <% end %>
  </div>
</div>