<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
<div id="product_<%= product.id %>" class="col-md-3 col-sm-6 col-xs-6 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
    <div class="product-image">
      <%= link_to(render('spree/shared/image', image: product.gallery.images.first, size: :small, itemprop: "image"), url, itemprop: 'url') %>
    </div>
    <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
    <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
      <% if price = product.price_for(current_pricing_options) %>
        <span class="price selling" itemprop="price" content="<%= price.to_d %>">
          <%= price.to_html %>
        </span>
      <% end %>
      <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
    </span>
  <% end %>
</div>
